.card-row{
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 8px;
}

.profile{
    border-radius: 50%;
    height: 5.5vh;
    width: 3vw;
    position: relative;
}
.profile1{
    position: relative;
    top: 0;
    left: 0;
    border: 1px white solid;
}

.profile2{
    position: absolute;
    top: 0;
    left: 30px;
    border: 1px white solid;
}

.profile3{
    position: absolute;
    top: 0;
    left: 55px;
    border: 1px white solid;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}
